<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceCollection" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10556/ServiceCollection.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCollection"
                contract="ServiceCollectionReference.IServiceCollection" name="BasicHttpBinding_IServiceCollection" />
        </client>
    </system.serviceModel>
</configuration>