<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceRegister" />
                <binding name="BasicHttpBinding_IServiceKeeper" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10860/ServiceKeeper.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceRegister"
                contract="ServiceKeeperReference.IServiceRegister" name="BasicHttpBinding_IServiceRegister" />
            <endpoint address="http://localhost:10860/ServiceKeeper.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceKeeper"
                contract="ServiceKeeperReference.IServiceKeeper" name="BasicHttpBinding_IServiceKeeper" />
        </client>
    </system.serviceModel>
</configuration>